:root {
    --background-color-light: #ffffff;
    --text-color-light: #333333;
    --header-background-light: #f1f1f1; 
    --header-text-light: #333333;
    --link-color-light: #007bff;
    --link-hover-light: #0056b3;
    --footer-background-light: #f8f9fa;
    --footer-text-light: #333333;

    --background-color-dark: #333333;
    --text-color-dark: #ffffff;
    --header-background-dark: #222222;
    --header-text-dark: #ffffff;
    --link-color-dark: #00bcd4;
    --link-hover-dark: #008c8c;
    --footer-background-dark: #444444;
    --footer-text-dark: #ffffff;
}

body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

[data-theme="dark"] {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.header-content {
    background-color: var(--header-background-light);
    padding: 10px;
    text-align: center;
}

.header-content h1 {
    color: var(--header-text-light);
}

.header-content img {
    max-width: 100px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--link-color-light);
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--link-hover-light);
}

.portfolio-item img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

footer {
    background-color: var(--footer-background-light);
    padding: 20px;
    text-align: center;
    color: var(--footer-text-light);
}

footer a {
    text-decoration: none;
    color: var(--link-color-light);
}

footer a:hover {
    color: var(--link-hover-light);
}

[data-theme="dark"] .header-content {
    background-color: var(--header-background-dark);
    color: var(--header-text-dark);
}

[data-theme="dark"] nav ul li a {
    color: var(--link-color-dark);
}

[data-theme="dark"] nav ul li a:hover {
    color: var(--link-hover-dark);
}

[data-theme="dark"] footer {
    background-color: var(--footer-background-dark);
    color: var(--footer-text-dark);
}

.clock {
    font-size: 2em;
    text-align: center;
    margin: 20px;
}

.result {
    margin-top: 20px;
}

#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    font-size: 30px;
    cursor: pointer;
}

